@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* default (light mode) */
    :root {
        /* background color */
        /*  dark blue */
        --bg-primary: 17, 24, 39;
        /* indigo */
        --bg-secondary: 99, 102, 241;
        /* black */
        --bg-tertiary: 0, 0, 0;
        /* gray */
        --bg-quaternary: 75, 85, 99;
        /* white */
        --bg-inverse-primary: 255, 255, 255;
        /* dark indigo */
        --bg-inverse-secondary: 79, 70, 229;

        /* text color */
        /* white */
        --text-primary: 255, 255, 255;
        /* light gray */
        --text-secondary: 209, 213, 219;
        /* dark gray */
        --text-tertiary: 107, 114, 128;
        /* indigo */
        --text-accent: 129, 140, 248;
    }
    /* dark mode */
    [data-theme="dark"] {
        /* background color */
        /*  white */
        --bg-primary: 255, 255, 255;
        /* emerald green */
        --bg-secondary: 79, 70, 229;
        /* sky blue */
        --bg-tertiary: 0, 123, 255;
        /* bright orange */
        --bg-accent: 255, 149, 0;

        /* text color */
        /* dark gray */
        --text-primary: 255, 255, 255;
        /* emerald green */
        --text-secondary: 52, 199, 89;
        /* sky blue */
        --text-tertiary: 0, 123, 255;
        /* bright orange */
        --text-accent: 255, 149, 0;
    }
}
