@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* default (light mode) */
    :root {
        /* background color */
        /*  dark blue */
        --bg-primary: 17, 24, 39;
        /* indigo */
        --bg-secondary: 99, 102, 241;
        /* black */
        --bg-tertiary: 0, 0, 0;
        /* gray */
        --bg-quaternary: 75, 85, 99;
        /* white */
        --bg-inverse-primary: 255, 255, 255;
        /* dark indigo */
        --bg-inverse-secondary: 79, 70, 229;

        /* text color */
        /* white */
        --text-primary: 255, 255, 255;
        /* light gray */
        --text-secondary: 209, 213, 219;
        /* dark gray */
        --text-tertiary: 107, 114, 128;
        /* indigo */
        --text-accent: 129, 140, 248;
    }
    /* dark mode */
    [data-theme="funk"] {
        /* background color */
        /*  dark blue */
        --bg-primary: 58, 16, 120;
        /* indigo */
        --bg-secondary: 47, 88, 205;
        /* black */
        --bg-tertiary: 55, 149, 189;
        /* gray */
        --bg-quaternary: 78, 49, 170;
        /* white */
        --bg-inverse-primary: 55, 149, 189;
        /* dark indigo */
        --bg-inverse-secondary: 47, 88, 205;

        /* text color */
        /* white */
        --text-primary: 255, 255, 255;
        /* light gray */
        --text-secondary: 209, 213, 219;
        /* dark gray */
        --text-tertiary: 107, 114, 128;
        /* indigo */
        --text-accent: 55, 149, 189;
    }
}
